<div class="btn-group btn-group-vertical">
	<button id="tool-pointer" type="button" class="btn btn-default active" title="Pointer (V)"></button>
	<button id="tool-node" type="button" class="btn btn-default" title="Node (N)"></button>
	<button id="tool-link" type="button" class="btn btn-default" title="Link (L)"></button>
	<button id="tool-axis" type="button" class="btn btn-default" title="Axis (A)"></button>
</div>
<hr>
<div class="btn-group btn-group-vertical">
	<button id="tool-eyedropper" type="button" class="btn btn-default" title="Eyedropper (I)"></button>
	<button id="tool-download" type="button" class="btn btn-default" title="Print to save hi-res PDF">
		<span class="glyphicon glyphicon-cloud-download"></span>
	</button>
</div>