<h3>Sidebar</h3>
<ul>
	<li name="latest"><a href="{{route 'profiles#latest' handle}}">Latest</a></li>
	<li name="projects"><a href="{{route 'profiles#projects' handle}}">Projects</a></li>
	<li name="collaborators"><a href="{{route 'profiles#collaborators' handle}}">Collaborators</a></li>
</ul>