<div class="navbar-inner">
	<div class="container">
		
		
		<div class="row">
			
			
			
			<div class="col-md-3 col-sm-4">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{route "canvases#show" id}}">&larr;</a>
					<form class="navbar-form navbar-left" onsubmit="return false">
						<input id="canvas-attr-title" type="text" placeholder="Title" class="form-control input-lg data-canvas-title" value="{{title}}">
					</form>
					<div class="btn-group pull-right visible-xs">
						<button type="button" class="btn btn-default" data-toggle="collapse" data-target=".canvas-members">
							<span class="sr-only">Toggle Collaborators</span> 
							<span class="glyphicon glyphicon-user"></span>
						</button>
						<button type="button" class="btn btn-default" data-toggle="collapse" data-target=".canvas-publish">
							<span class="sr-only">Toggle Publish Actions</span> 
							<span class="glyphicon glyphicon-share"></span>
						</button>
					</div>
				</div>	
			</div>
			
			
			
			<div class="col-md-6 col-sm-5">				
				<div class="collapse navbar-collapse navbar-left canvas-members">
					<ul class="nav navbar-nav member-avatar-list">
						<li>
							<button class="btn-link member" title="That's you!">
								<img class="img-responsive" src="/images/_temp-avatar.jpg" />
							</button>
						</li>
						<li>
							<button class="btn-link member" title="Display Name (offline)">
								<img class="img-responsive offline" src="/images/_temp-avatar.jpg" />
							</button>
						</li>
						<li>
							<button class="btn-link member" title="Display Name (offline)">
								<img class="img-responsive offline" src="/images/_temp-avatar.jpg" />
							</button>
						</li>
						<li>
							<button class="btn btn-default" title="Invite a Collaborator">
								<span class="glyphicon glyphicon-plus-sign"></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
			
			
			
			<div class="col-md-3 col-sm-3">
				<div class="collapse navbar-collapse navbar-right canvas-publish">
					<ul class="nav navbar-nav">
						<li>
							<div class="btn-group">

								<div class="btn-group user-action-download">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="glyphicon glyphicon-cloud-download"></span>
									</button>
									<ul class="dropdown-menu pull-left" role="menu">
										<li role="presentation" class="dropdown-header">Choose a format:</li>
										<li><a href="#">PDF</a></li>
										<li class="disabled"><a href="#">EPS</a></li>
										<li class="disabled"><a href="#">PNG</a></li>
									</ul>
								</div>

								<div class="btn-group user-action-publish">
									<button type="button" class="btn btn-default">
										<strong>Publish</strong> 
										<small title="Last">(v4)</small>
										<!--<small>Last: 4 days ago</small>-->
									</button>
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li role="presentation" class="dropdown-header">Latest: 3 days ago</li>
										<li class="divider"></li>
										<li><a href="#"><span class="glyphicon glyphicon-ok text-success"></span> Private</a></li>
										<li><a href="#"><span class="glyphicon"></span> Public</a></li>
										<li><a href="#"><span class="glyphicon"></span> Draft <small>(unpublish)</small></a></li>
										<li class="divider"></li>
										<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
									</ul>
								</div>

							</div>
						</li>
						<!--<li><a href="/logout" title="logout">Logout</a></li>-->
					</ul>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		
		
	</div>
</div>