<h3>
	<a href="{{route "canvases#show" id}}">Canvas#{{id}}: {{title}}</a> 
	{{#ifLoggedIn}}
	{{#ifIsEditor members}}
	<a href="{{route "canvases#edit" id}}">Edit</a> 
	{{/ifIsEditor}}
	{{/ifLoggedIn}}
</h3>