<div class="header-container" id="header-container"></div>
<div class="controls-container" id="controls-container"></div>
<div class="stage-container" id="stage-container"></div>
<div class="detail-container" id="detail-container"></div>