@import 'nib'

/* ==========================================================================
   Editor styles
   ========================================================================== */


g.axis
  visibility visible

  g.tick

    line
      fill none
      stroke #d7d7d7
      shape-rendering crispEdges

    text
      fill #999
      font-size 9px
      opacity 0

  path.domain
    stroke none

g.x text
  text-anchor middle !important

g.y text
  text-anchor start !important


g.nodeGroup
  text.artifact
    text-rendering optimizeLegibility
  rect.parent_bounds, path.origin
    fill none
    opacity 1
    shape-rendering crispEdges
    stroke #3498db
    //stroke-dasharray 5,3
    stroke-opacity 0
    //stroke-width 2
    transition stroke-opacity .5s
  path.origin
    stroke #000
  &:hover
    rect.parent_bounds
      stroke-opacity .5
  &.active
    rect.parent_bounds
      stroke-opacity .1
    path.origin
      stroke-opacity .2

g.linkGroup
  &.active
    path.tickline
      cursor crosshair
    circle
      cursor pointer

g#node_controls
  rect.bounding_box
    fill none
    shape-rendering crispEdges
    stroke #000
    //stroke-dasharray 5,3
    stroke-opacity .15
    //stroke-width 2
    transition stroke-opacity .2s linear
    &.active
      stroke-opacity .35
    &:hover
      cursor pointer
  circle.handle
    cursor move
    fill #fff
    stroke #4d4d4d
    //stroke-width 2

g#link_controls
  circle.point
    cursor move
    fill #fff
    stroke #4d4d4d
    //stroke-width 2
    &.active
      fill #4d4d4d



rect.parent_bounds, 
rect.bounding_box,
path.origin
  stroke-dasharray 4,2


g.zoom_in
  rect.parent_bounds,
  rect.bounding_box,
  path.origin,
  circle.point,
  circle.handle
    stroke-width 1

g.zoom_out
  rect.parent_bounds,
  rect.bounding_box,
  path.origin,
  circle.point,
  circle.handle
    stroke-width 2




