@import 'nib'

/* ==========================================================================
   Editor styles
   ========================================================================== */



/*
#stage
  background #fff
  margin 0
  padding 50px 0 0 50px

  //#editable_node_label
  //  position absolute
*/

#controls
  position absolute
  top 0
  z-index 1

  #toolbar
    background rgba(215,215,215,.96)
    border-right 1px solid #ccc
    height 100%
    padding 62px 10px 0
    position fixed
    z-index 1
    
    hr
      border-top 1px solid rgba(0,0,0,.2)
      border-bottom 1px solid #fff
      margin 0 0 12px
    
    .btn-group+.btn-group
      margin-left 0
    
    .btn-group > .btn
      background #fff
      border 1px solid rgba(0,0,0,.15)
      border-radius 4px
      box-shadow none
      height 28px
      margin 0 0 12px
      padding 4px
      text-align center
      transition background .25s
      width 28px
      &:hover, &:focus
        background rgb(240,245,250)
      &.active
        background rgb(180,230,250)

    .btn-group-vertical-bottom
      bottom 0px
      display block
      position absolute

    #tool-pointer,
    #tool-node,
    #tool-link,
    #tool-axis,
    #tool-text,
    #tool-eyedropper
      background-position 50% 50%
      background-repeat no-repeat
      background-size 100%

    #tool-pointer
      background-image url('/images/toolbar-pointer.png')

    #tool-node
      background-image url('/images/toolbar-node.png')

    #tool-link
      background-image url('/images/toolbar-link.png')

    #tool-axis
      background-image url('/images/toolbar-axis.png')

    #tool-text
      background-image url('/images/toolbar-text.png')

    #tool-eyedropper
      background-image url('/images/toolbar-eyedropper.png')



.axis
  visibility visible

.axis path,
.axis line
  fill none
  stroke #d7d7d7
  shape-rendering crispEdges

.axis .minor
  stroke #e9e9e9

.axis .major text
  fill #999
  font-size 9px
  opacity 0

.x .major text
  text-anchor middle !important

.y .major text
  text-anchor start !important

path.domain
  stroke none




g.nodeGroup
  text.artifact
    text-rendering optimizeLegibility
  rect.parent_bounds, path.origin
    fill none
    opacity 1
    shape-rendering crispEdges
    stroke #3498db
    //stroke-dasharray 5,3
    stroke-opacity 0
    //stroke-width 2
    transition stroke-opacity .5s
  path.origin
    stroke #000
  &:hover
    rect.parent_bounds
      stroke-opacity .5
  &.active
    rect.parent_bounds
      stroke-opacity .1
    path.origin
      stroke-opacity .2

g.linkGroup
  &.active
    path.tickline
      cursor crosshair
    circle
      cursor pointer

g#node_controls
  rect.bounding_box
    fill none
    shape-rendering crispEdges
    stroke #000
    //stroke-dasharray 5,3
    stroke-opacity .15
    //stroke-width 2
    transition stroke-opacity .2s linear
    &.active
      stroke-opacity .35
    &:hover
      cursor pointer
  circle.handle
    cursor move
    fill #fff
    stroke #4d4d4d
    //stroke-width 2

g#link_controls
  circle.point
    cursor move
    fill #fff
    stroke #4d4d4d
    //stroke-width 2
    &.active
      fill #4d4d4d



rect.parent_bounds, 
rect.bounding_box,
path.origin
  stroke-dasharray 4,2


g.zoom_in
  rect.parent_bounds,
  rect.bounding_box,
  path.origin,
  circle.point,
  circle.handle
    stroke-width 1

g.zoom_out
  rect.parent_bounds,
  rect.bounding_box,
  path.origin,
  circle.point,
  circle.handle
    stroke-width 2




