@import 'nib'

/* ==========================================================================
   Editor Header styles
   ========================================================================== */

.navbar
  background rgba(255,255,255,.75)
  border medium none
  border-bottom 1px solid rgba(0,0,0,.2)
  margin 0
  
  .container
    //padding 0
    max-width 100%
  
  .brand
    font-size 18px
    margin 0
    padding 10px 10px !important
    text-align center
    text-shadow none
    width 50px

  button
    margin-top 8px

  form.navbar-form
    input
      border-radius 2px
      color #555
      font-size 16px
      font-weight 700
      height auto
      padding 6px 10px 5px
    input::-webkit-input-placeholder
      font-size 14px
      font-weight lighter
      line-height 22px
    input::-moz-placeholder
      font-size 14px
      font-weight lighter
      line-height 22px