@import 'nib'

/* ==========================================================================
   Canvas styles
   ========================================================================== */

.canvas-container
  background #e5e5e5
  overflow hidden

rect.bounds, path.origin
	fill none
	stroke none
	opacity 0