<ul class="nav navbar-nav member-avatar-list">
	<li>
		<button class="btn btn-default user-action-invite" title="Invite a Collaborator">
			<span class="glyphicon glyphicon-plus-sign"></span>
		</button>
	</li>
</ul>