<button class="btn-link member" title="@{{handle}}{{#if online}}{{else}} (offline){{/if}}">
	<img class="img-responsive{{#if online}} online{{else}} offline{{/if}}" src="/images/_temp-avatar.jpg">
</button>